
.calendar-container-profile {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--contents);
}

.calendar-header-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: none;

}

.header-content-profile{
  font-size: large;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--fix-titles);
  text-align: center;
}.consultarDatas-profile{
  color: var(--text);
}

.nav-button-profile {
  background: none;
  border: none;
  font-size: large;
  cursor: pointer;
  color: var(--fix-yellow);
  padding: 5px 10px;
  transition: color 0.2s ease-in-out;
}

.nav-button-profile:hover {
  color: var(--text);
}

.calendar-grid-profile {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  padding: 10px;
}

.days-of-week-profile {
  text-align: center;
  font-weight: bold;
  font-size: medium;
  color: var(--fix-gray);
  padding: 5px 0;
  border-bottom: 1px solid var(--fix-gray);
}

.calendar-day-profile {
  color:  var(--text);
  text-align: center;
  padding: 8px 0;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: none;
 
}
.calendar-day-profile:hover{
  background-color: var(--hovers);
}

.calendar-day.day-valid-profile:hover {
  background-color: var(--hovers);
}

.calendar-day-profile.selected {
  background-color: var(--fix-titles);
  color: var(--text);
  font-weight: bold;
}

.calendar-day-profile.today {
  border: 2px solid var(--fix-titles);
  background-color: var(--fix-titles);
}

.calendar-day-profile.today.selected {
  border-color: var(--text);
}
.calendar-day-profile.work-day {
  background-color: var(--confirm); 
  color: var(--text);
  border-radius: 4px;
}

.calendar-day-profile.rest-day {
  background-color: var(--cancel); 
  color: var(--text);
  border-radius: 4px;
}

.holiday-day {
  background-color: #3187ff !important; 
  color: var(--text) !important;
  font-weight: bold;
  position: relative;
}
.holiday-day.work-day {
    background-color: #3187ff !important; 
}
.holiday-day.rest-day {
  background-color: #3187ff !important; 
}

@media (max-width: 1320px) {
  .nav-button-profile {
    font-size: medium;
  }

  .consultarDatas-profile {
    font-size: medium;
  }

  .header-content-profile {
    font-size: medium;
  }
}