.table {
  display: grid;
  grid-template-columns: repeat(9, 1fr); 
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  margin: 0 10vw 2rem;
  background-color: var(--contents);
  overflow-x: auto;
}
.table-header {
  display: contents; 
  color: var(--text);
  font-weight: bold;
  font-size: large;
}
.table-header > div {
  padding: 12px;
  background-color: var(--on-gray); 
  text-align: left;
  border-bottom: 1px solid var(--fix-gray) ;
}
.table-row {
  display: contents; 
  color: var(--text);
}
.table-row > div {
  padding: 12px;
  font-size: large;
}
.table-row:hover > div{
  background-color: var(--hovers);
  cursor: pointer;
}
.matricula {
  color: var(--id);
  font-weight: bold;
  font-size: x-large;
}

.admin-table{
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
}
.currentday-table{
  grid-template-columns: repeat(4, 1fr);
}


.type-table{
  display: flex;
  flex-direction: column;
  margin: 0 10vw 1rem;
}
.type-title{
  font-size: xx-large;
  color: var(--text);
  font-weight: bold;
}
.type-subtitle{
  font-size: x-large;
  color: var(--fix-titles);
  font-weight: bold;
}
.adm-type-table{
  margin: 0;
}
.type-icon{
  display: flex;
  gap: 1rem;
}


@media (max-width: 1024px) {
.table-header {
font-size: small;
}
.matricula {
  font-size: small;
}
.table-row > div {
  font-size: small;
}
}