.background-login {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url('../assets/images/background-login.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login {
    display: flex;
    flex-direction: row;
    border-radius: 10%;
    box-shadow: 0 4px 6px rgba(2, 3, 10, 0.4);
    width: 850px;
    height: 550px;
    justify-content: center;
    align-items: center;
}
.semurb-logo-login{
    background: url('../assets/images/semurb-logo-login.png') ;
}
.logo-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--fix-dark);
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    width: 40%;
    height: 100%;
    
}

.form-login{
    padding: 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 3rem;
    background-color: var(--fix-white);
    width: 60%;
    height: 100%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;

}


.font-title{
    color: var(--fix-dark);
    font-size: x-large;
    font-weight: 700;
    margin-bottom: 0.5rem;
}.font-subtitle{
    color: var(--fix-gray);
    font-size: large;
    font-weight: 900;
}.font-title-logo{
    color: var(--on-text);
    font-size: x-large;
    font-weight: 900;
}

.content-login{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.label-login{
    font-size: large;
    font-weight: 500;
    color: var(--fix-dark);
}
.input-login{
    color: var(--text);
    border: none;
    background: none;
    border-bottom: 2px solid var(--fix-gray);
}.input-login:focus{
    color: var(--text);
}
.button-login{
    border: none;
    outline: none;
    padding: 0.8rem;
    border-radius: 5px;
    background-color: var(--fix-dark);
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    color: var(--fix-white);
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}
.forgot-password{
    text-decoration: none;
    color: var(--fix-gray);
    font-weight: 500;
    letter-spacing: 0.1rem;
}

